body {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTthVjI_SqcBQvaMpOUUPOlYPXtiecDzsd9LgHRVwJS1aA7njq28A");
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: aliceblue;
    text-transform: uppercase;
    font-size: 25px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 25px;
    background-color: rgba(0, 0, 0, .3);
}

li:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .5);
}